Quadrant.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Quadrant.xcodeproj/project.xcworkspace/xcuserdata/satrio.wicaksono.xcuserdatad/UserInterfaceState.xcuserstate
Quadrant.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Quadrant.xcodeproj/xcuserdata/satrio.wicaksono.xcuserdatad/xcschemes/xcschememanagement.plist
